.container {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.button {
  width: 100px;
  height: 50px;
  padding: 10px;
  font-size: 18px;
  background-color: crimson;
  color: white;
  border: none;
}
